/* card */
.card .ml-tab-item {
  display: inline-block;
  padding: 2px 10px;
  cursor: default;
  margin-right: 5px;
  border: 1px solid #dcdee2;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  transition: padding-left 0.3s ease-in-out;
}
.card .ml-tab-item:hover{
  color:#5b87a5;
}
.card .ml-tab-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
.card .ml-tab-item-slot {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  font-size: 13px;
  position: relative;
}
.card .ml-tab-item-slot div,
.card .ml-tab-item-close-div{
  display: inline-block;
  vertical-align: middle;
}
.card .ml-tab-item-close-div{
  width: 16px;
  line-height: 16px;
}
.ml-tab-is-left .ml-tab-item,
.ml-tab-is-right .ml-tab-item{
  display: block;
  padding: 5px 2px;
  margin-bottom: 5px;
  border: 1px solid #dcdee2;
  transition: padding-top 0.3s ease-in-out;
}
.ml-tab-is-left .ml-tab-item-close
.ml-tab-is-right .ml-tab-item-close{
  margin-left: 15px;
}
.ml-tab-is-left .ml-tab-item{
  border-right: 0;
  border-radius: 4px 0px 0px 4px;
}
.ml-tab-is-right .ml-tab-item{
  border-left: 0;
  border-radius: 0px 4px 4px 0;
}
.ml-tab-is-left .ml-tab-item div,
.ml-tab-is-right .ml-tab-item div{
  display: block;
  margin: auto;
  text-align: center;
  width: 28px;
  font-size: 13px;
  line-height: 28px;
}
.ml-tab-is-left .ml-tab-item-slot div,
.ml-tab-is-right .ml-tab-item-slot div{
  writing-mode: vertical-lr;
  writing-mode: tb-lr;
  letter-spacing: 2px;
}
.ml-tab-is-left i,
.ml-tab-is-right i,
.ml-tab-is-left .ml-tab-item-slot,
.ml-tab-is-right .ml-tab-item-slot{
  height: auto;
}
.ml-tab-item.ml-tab-item-active {
  padding: 2px 5px 0px 5px;
  color: #5b87a5;
  border-bottom: 2px solid #5b87a5;
}
.ml-tab-is-left .ml-tab-item.ml-tab-item-active {
  padding: 5px 0px 5px 2px;
  border-right: 2px solid #5b87a5;
  border-bottom: 1px solid #dcdee2;
}
.ml-tab-is-right .ml-tab-item.ml-tab-item-active {
  padding: 5px 2px 5px 0px;
  border-left: 2px solid #5b87a5;
  border-bottom: 1px solid #dcdee2;
}
.ml-tab-container-left,
.ml-tab-container-right {
  position: absolute;
  line-height: 32px;
  cursor: pointer;
  font-size: 14px;
  z-index: 200;
  background: #fff;
}
.ml-tab-container-left {
  left: 0px;
  transition: all 0.3s ease-in-out;
}
.ml-tab-container-right {
  right: 0px;
  transition: all 0.3s ease-in-out;
}
.ml-tab-item-scroll {
  overflow: hidden;
  white-space: nowrap;
}
.ml-tab-item-scroll-nav {
  float: left;
  list-style: none;
  transition: all 0.3s ease-in-out;
}
.ml-tab-is-left {
  float: left;
  height: 100%;
  margin-bottom: 0;
  margin-right: 10px;
}
.ml-tab-is-bottom {
  margin-bottom: 0;
}
.ml-tab-is-right {
  float: right;
  height: 100%;
  margin-bottom: 0;
  margin-left: 10px;
}
.ml-tab-is-left .ml-tab-item,
.ml-tab-is-right .ml-tab-item {
  display: block;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.ml-tab-is-left .ml-tab-container,
.ml-tab-is-right .ml-tab-container {
  height: 100%;
}
.ml-tab-is-left .ml-tab-item-scroll,
.ml-tab-is-right .ml-tab-item-scroll {
  height: 100%;
}
.ml-tab-is-left .ml-tab-container-left,
.ml-tab-is-right .ml-tab-container-left {
  top: 0;
  transform: rotate(90deg) translateY(-3px);
  transform-origin: right center;
  -ms-transform: rotate(90deg) translateY(-3px); /* Internet Explorer 9*/
  -ms-transform-origin: right center;
  -moz-transform: rotate(90deg) translateY(-3px); /* Firefox */
  -moz-transform-origin: right center;
  -webkit-transform: rotate(90deg) translateY(-3px); /* Safari 和 Chrome */
  -webkit-transform-origin: right center;
  -o-transform: rotate(90deg) translateY(-3px); /* Opera */
  -o-transform-origin: right center;
}
.ml-tab-is-left .ml-tab-container-right,
.ml-tab-is-right .ml-tab-container-right {
  bottom: 0;
  transform: rotate(90deg) translateY(6px);
  transform-origin: left center;
  -ms-transform: rotate(90deg) translateY(6px); /* Internet Explorer 9*/
  -ms-transform-origin: left center;
  -moz-transform: rotate(90deg) translateY(6px); /* Firefox */
  -moz-transform-origin: left center;
  -webkit-transform: rotate(90deg) translateY(6px); /* Safari 和 Chrome */
  -webkit-transform-origin: left center;
  -o-transform: rotate(90deg) translateY(6px); /* Opera */
  -o-transform-origin: left c
}
.ml-tab-item-close:hover{
  background-color: #C0C4CC;
  color: #FFFFFF;
}
.ml-tab-item-close{
  font-size: 16px;
  border-radius: 50%;
  vertical-align: text-top;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}